<h1 class="page-header">Admin panel</h1>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Tags</h3>
</div>
    <div class="panel-body">
<ul class="list-group">
    <li class="list-group-item list-group-item-success pull-left tag-group-item" ng-repeat="tag in tags">{{tag.title}}
        <a href="" title="Delete Tag" ng-click='deleteTag(tag.id)'>
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </li>
</ul>
<br/>
<br/>
<form role="form" ng-submit="submitTag()" >
  <div class="input-group">
      <span class="input-group-addon">Title</span>
    <input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="tag.title">
  </div>
  <div class="input-group"><span class="input-group-addon">Description</span>
    <input type="text" class="form-control" id="description" placeholder="Enter description" ng-model="tag.description">
  </div>
  <br/>
  <button type="submit" class="btn btn-success pull-right">Add Tag</button>
</form>
</div>
</div>
<br/>
<hr>
<h3>Users</h3>

<table class="table table-striped">
    <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Posts</th>
          <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.id }}</td>
            <td><a ng-href="#/users/{{ user.id }}">{{ user.username }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.postsCount }}</td>
            <td>{{ user.commentsCount }}</td>
            <td><button type="button" class="btn btn-danger" ng-click="deleteUser(user.id)">Delete user</button></td>
        </tr>
    </tbody>
</table>