<!-- Blog Post -->
<div ng-repeat="post in posts">
<h2>
    <a href="#/posts/{{ post.id}}">{{ post.title }}</a>
</h2>
<p>
    <span class="glyphicon glyphicon-user"></span> <a href="#/users/{{ post.createdBy.id}}">{{ post.createdBy.username }}</a>
    <span class="glyphicon glyphicon-time"></span> {{ post.created | date:'MMM d, y h:mm a'}} <span class="glyphicon glyphicon-tag"></span> <a ng-href="#/posts/{{tag.title}}/1" ng-repeat="tag in post.tags">{{$first ? '':',' }}{{ tag.title }}</a>
    <span class="glyphicon glyphicon-comment"></span> {{ post.comments.length }}
</p>
<hr>
<img class="img-responsive" src="http://placehold.it/900x300" alt="">
<hr>
<p>{{ post.body | limitTo:previewChars}}{{post.body.length > previewChars ? '...':''}}</p>
<a class="btn btn-primary" href="#/posts/{{ post.id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

<hr>
</div>

<!-- Pager -->
<ul class="pager">
    <li class="previous" ng-show="showNewerPosts()">
        <a href="{{showNewerPostsUrl()}}">&larr; Newer</a>
    </li>
    <li class="next" ng-show="showOlderPosts()">
        <a href="{{showOlderPostsUrl()}}">Older &rarr;</a>
    </li>
</ul>