<!-- Blog Facebook box Well -->
<!--ng-controller="FbBoxCtrl" -->
<div class="well">
    <h4>Facebook's posts</h4>
<!--
            <div class="atmo col-lg-12">
                <h3 id="atmo-header"></h3>
                <div id="atmo-content"></div>
                <div>
                    <input id="clickme" type="button" class= "btn-primary" name="clickme">
                </div>
            </div>
-->
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!--<script src="scripts/atmo.js"></script>-->